DB_DIALECT=postgres
DB_URI=url
SUPABASE_KEY=key
SUPABASE_SERVICE_ROLE_KEY=key

# Server port
PORT=5000

# JWT secret key
JWT_SECRET=secret

# Email credentials for nodemailer
MAIL_USER=yourmail
MAIL_PASS=yourpass
MAIL_NAME=yourname

# ImageKit credentials
IMAGEKIT_PUBLIC_KEY=publickey
IMAGEKIT_PRIVATE_KEY=privatekey
IMAGEKIT_URL_ENDPOINT=imgkiturl

# client URL for CORS
CLIENT_URLS=http://localhost:5173